[2015-07-07 23:29] spodila opened #30 "Test issue"
Testing.

[2015-07-08 00:09] #30 closed, assigned to nobody

[2015-07-14 04:44] sthadeshwar opened #31 "Add a time interval based trigger type to fenzo-triggers"
@amit-git Feel free to jump on this if you have time or else I will add it
@spodila Just FYI ^^

[2015-07-15 22:22] DavidMGross opened #33 "Complete text of README.md"
Fill this in with links to more complete documentation.

[2015-07-15 22:25] DavidMGross opened #34 "Have javadocs built automagically; published in a consistent public location"
We're not sure how best to do this, so it may take some investigation. Do we have to host these elsewhere, or can we get them here in github with the rest of our docs?

[2015-07-15 22:32] DavidMGross opened #35 "Complete wiki documentation"
The wiki docs should:
1. Describe how Fenzo fits in to a Framework=>Mesos=>Cloud Cluster environment, from the point of view of the Mesos community.
2. Describe how to use the various features of the Fenzo API, from the point of view of Java developers.

Some questions to answer:
- How do I use Fenzo to control autoscaling, and how can I automate this with framework resource allocations?
- How do

[2015-07-16 20:01] DavidMGross opened #36 "Add missing javadocs"
Completely describe the Fenzo API in javadoc comments, including classes, interfaces, methods, attributes, and enums.

Use the active voice in order to make the documentation unambiguous -- see http://go/pv

[2015-07-22 16:34] DavidMGross opened #38 "Add lots of comments to the sample code to explain what it's doing and why"
If we're going to encourage people to use the sample projects to help them make their first Fenzo-aware frameworks, these should be full of good code comments to explain what's going on and why and what options are available.

[2015-08-20 16:26] #35 closed, assigned to DavidMGross

[2015-08-20 16:27] #33 closed, assigned to DavidMGross

[2015-08-20 16:32] #34 closed, assigned to DavidMGross

[2015-08-21 07:01] maselvaraj opened #43 "Auto scaling"
Read about Fenzo in netflix blog. Auto scaling concept sounds interesting. I'm yet to try my hands on Fenzo. Can you please let me know context of auto scaling here? Is it like Fenzo will shutdown/bring up VMs based on the demand ?

Thanks in advance,
Mani

[2015-08-21 16:00] spodila commented on #43
Fenzo provides the logic/smarts to shutdown or bring up VMs based on demand. It provides a callback mechanism. You provide the implementation of the callback inside which you will use your preferred way to bring up the VMs or terminate them. See [here](http://netflix.github.io/Fenzo/fenzo-core/com/netflix/fenzo/TaskScheduler.html#setAutoscalerCallback-com.netflix.fenzo.functions.Action1-).

[2015-08-21 16:40] maselvaraj commented on #43
Thanks @spodila ! Is there a DL where I can reach out if I have any questions ?

[2015-08-21 16:40] #43 closed

[2015-08-24 10:12] hansbogert opened #44 "Give use cases to understand the features better"
After reading the _features_ I'm struggling to understand what actual use cases are where Fenzo comes in. For example in my case, I have a Spark framework (on Mesos) which runs interactive queries with a measured average response time. Now if I increase the cluster resources by a factor 2 or 4 for example, and increase the amount of Spark frameworks by that same factor, the variance increases grea

[2015-08-24 23:28] spodila commented on #44
Fenzo caters to the needs of a Mesos framework for advanced scheduling optimizations and cluster autoscaling, see this [blog](http://techblog.netflix.com/2015/08/fenzo-oss-scheduler-for-apache-mesos.html) for an overview.

What you are describing seems to be a case of multiple frameworks in a Mesos cluster, where one or more of them can starve for resources if another framework hoards (or has used

[2015-08-25 11:37] hansbogert commented on #44
Ok, thanks. Exactly what I needed to hear.

[2015-08-25 11:37] #44 closed

[2015-09-08 04:11] huntc opened #47 "How does Fenzo scale?"
Apologies if this isn't the place to ask questions - I couldn't find a mailing list.

My understanding is that a `TaskScheduler` is quite stateful and should be a singleton within a cluster of JVM instances. Is this view incorrect? If so then what are the considerations around scaling?

Thanks!

[2015-09-08 05:04] spodila commented on #47
You are right in that a TaskScheduler is stateful and that there would be a single instance in a cluster. The size of state information in Fenzo would be proportional to the number of VMs (aka agent/host) and the number of tasks assigned. Other state information, such as related to autoscaling and groups, are too small to be concerned about.
Although I have no specific data to quote, I used this [

[2015-09-08 05:31] huntc commented on #47
Thanks for the reply @spodila.

What are your thoughts toward resiliency? For example, if your process containing the `TaskScheduler` dies then what action do you take?

Thanks again for the dialogue.

(closing as you've addressed my primary question)

[2015-09-08 05:31] #47 closed

[2015-09-10 19:28] spodila commented on #47
Upon start of the process containing the TaskScheduler, we initialize Fenzo with the entire state by calling TaskScheduler.getTaskAssigner().call(...) method for each task that is already known to be running. Specifically, since we run multiple instances of our framework with ZooKeeper based leader election, we perform this initialization upon being elected as the leader.

This does bring up a con

[2015-09-10 22:05] huntc commented on #47
Perhaps a plugable mechanism that a) requests state from other scheduler instances, returning a CompletionStage aka Scala's Future, and b) a callback so that the scheduler can be notified of new state asynchronously.

This then permits multiple schedulers to work together. We could then back the request and the callback with CRDTs (for example).

I think you should also consider reentrancy in your

[2015-10-22 04:43] liulong0118 opened #50 "Fenzo holds all resource offers of slaves that have tasks assigned"
Sorry that I couldn't find a place to ask questions so had to open an issue here.

I found that after calling TaskScheduler.getTaskAssigner().call(...), Fenzo will hold all subsequent resource offers of the corresponding slave forever without even looking at leaseOfferExpirySecs. I'd like to know why Fenzo needs to do that. It makes other frameworks unable to use the remaining resources of that sl

[2015-10-22 11:24] chogeek opened #51 "Interaction between frameworks using Fenzo"
We have multiple Mesos frameworks in a Mesos Cluster with three hosts(agents). Some of the frameworks developed by ourselves are using Fenzo and some of the frameworks are not using Fenzo (e.g. Marathon). We have configured leaseOfferExpirySecs to 2 and have found that frameworks that use Fenzo have been starving frameworks that do not use Fenzo.
We would like to ask the following questions.

1. C

[2015-10-22 16:18] spodila commented on #51
Hello chogeek, Fenzo will be rejecting leases based on the configured leaseOfferExpirySecs. We see offers being rejected in our framework. Can you confirm if you are seeing the rejections at all or not?
In the mean time, I will test multi-framework setup a little bit more with three hosts as you have it.

[2015-10-22 16:30] spodila commented on #50
Hello liulong0118, what quantity of resources are unused on the host after assigning some tasks? I will try to reproduce that and get back to you.

[2015-10-22 17:22] spodila commented on #51
Can you confirm that your framework calls Fenzo's TaskScheduler.scheduleOnce(...) periodically? Even if there are no tasks to schedule? This is important because Fenzo does not create its own threads for taking actions such as releasing/rejecting offers after the timeout, or autoscaling. These actions are performed at the end of the scheduleOnce(), before the results are returned. With each call t

[2015-10-22 17:24] spodila commented on #50
Oh, also, can you confirm that your framework is calling Fenzo's TaskScheduler.scheduleOnce(...) routinely, even if there are no tasks to assign? See my explanation in issue #51

[2015-10-23 03:02] liulong0118 commented on #50
Hi spodila. Thanks for your reply.

Yes, my framework is calling scheduleOnce(...) routinely even if there are no tasks to assign, just like what the sample framework does.

My slave has 8 CPUs and 14.4GB RAM, and my task takes 1 CPU and 1GB RAM. After one task is assigned to the slave, Fenzo holds all CPUs and RAM (1CPU + 1GB used and 7CPU + 13.4GB offered) until the task finishes.

Actually, I'v

[2015-10-23 05:14] spodila commented on #50
That's a great catch. The list of leases was prepared correctly for AutoScaler, but it is not totally right for limited offer rejections.

I created a fix for it and checked it in. fenzo-core 0.7.12 should be available soon in maven central.

Earlier today, I had created 0.7.11 that gives you control on how many offers to reject within a period of leaseOfferExpirySecs time.

Let me know if how you

[2015-10-23 05:16] spodila commented on #51
Also, upgrade to fenzo-core 0.7.12 for a fix I just made for offer expiry not happening right in certain scenarios. See issue #50 for details.

[2015-10-23 05:18] spodila commented on #36
Java docs were added to all public classes and methods.

[2015-10-23 05:18] #36 closed

[2015-10-23 05:19] spodila commented on #38
Comments were added to the sample framework to aid writing new frameworks or using Fenzo in other existing frameworks.

[2015-10-23 05:19] #38 closed

[2015-10-23 13:58] chogeek commented on #51
HI @spodila, thank you for your reply.

I confirm that our framework calls Fenzo's TaskScheduler.scheduleOnce(...) periodically in a thread like SampleFramework of Fenzo. And I see that Fenzo declines offer according to leaseOfferExpirySecs configuration.

What I want to know is that whether we can have multiple framework that uses Fenzo in a Mesos cluster. Each fenzo-enabled framework hold offer

[2015-10-24 11:11] liulong0118 commented on #50
Just tried fenzo-core 0.7.12 with my framework. The fix works well. Offers are rejected as expected. Thanks!

I'll close the issue then.

[2015-10-24 11:11] #50 closed

[2015-10-24 15:33] spodila commented on #50
Glad to hear it works for you.
BTW, now there is a Google Group for questions and discussions as well. Join at https://groups.google.com/forum/#!forum/fenzo

[2015-10-28 04:59] spodila commented on #51
Let me try to address all of the questions you bring up. Do note that we currently run only one framework in our cluster.

- Resource circulation becoming slow
  With Fenzo you have full control of how many offers to reject and how often. In 0.7.12 we added some additional parameters you can set to TaskScheduler.Builder. So, there should be no fear of such a slow down.

- Bin packing
  Ideally, bi

[2015-10-29 04:30] chogeek commented on #51
Hi @spodila,

Thank you for giving us insights about Fenzo and Mesos framework scheduling.

I agree with you that configuration parameters of Fenzo and Mesos do play an important role of resource scheduling.
Also, it is related to resource available in a cluster and amount of resource consumed by a framework.

I found that DRF algorithm of default Mesos allocator giving higher priority to framewor

[2015-10-29 04:30] #51 closed

[2015-11-05 00:27] dgrnbrg opened #57 "Hard time limit on holding offers for Fenzo"
Currently, Fenzo supports releasing offers at a fixed rate. In order to have a Fenzo-scheduled framework function in a multiframework environment, it's important for every offer to be declined in a timely manner if it isn't used. For example, another framework may have specific constraints or properties it's looking for in an agent--currently, it's possible for Fenzo to hold onto an offer for many

[2015-11-05 20:43] spodila commented on #57
@dgrnbrg it turns out you can achieve this already by setting the maximum offers to reject to a large number. That is, effectively telling Fenzo to not limit the number of offers to reject upon offer expiry. Here's one way to set the maximum to a large number:

[code]

Fenzo will then reject all leases whose offered time is more than leaseExpirySecs seconds ago.

However, note that the action to c

[2015-11-10 01:44] dgrnbrg commented on #57
That should work, thanks! I wonder if there's benefit in making rejecting all offers into another builder method, vs. requiring the user to treat it as a special case of the rejection logic. Either way, that will solve the problem.

[2015-11-10 01:44] #57 closed

[2015-11-10 16:56] dgrnbrg opened #58 "Update Javadocs"
The Javadocs don't match the latest code. It'd be awesome to update them!

[2015-11-10 20:41] dgrnbrg opened #59 "Increase debug-level logging in Fenzo's scheduler"
Currently, I am trying to debug an issue where I provide with one task and one lease to schedule, and fenzo says that it has zero successful or failed assignments. I'm trying to debug this, but since there's no debug logging available, it's tricky to trace what's going on.

[2015-11-10 20:48] spodila commented on #59
@dgrnbrg Will do. For immediate help, you could try to debug using this call:
http://netflix.github.io/Fenzo/fenzo-core/com/netflix/fenzo/TaskScheduler.html#getResourceStatus--

[2015-11-11 16:24] spodila commented on #57
Fenzo 0.8.2 has a new convenience mthod in the builder, withRejectAllExpiredOffers(), for this.

[2015-11-11 16:26] spodila commented on #59
You can now use the optional builder method, withDebugEnabled(), to enable additional debugging info. Note that turning this on can print numerous log messages per invocation of scheduleOnce() method, as well as have a performance overhead.
This is in Fenzo 0.8.2.

[2015-11-11 18:28] dgrnbrg commented on #59
What log namespaces and levels does it use?

Also, why not use the slf4j compatible log levels for enabling/disabling debugging info?

[2015-11-11 18:28] dgrnbrg commented on #57
Thank you!

[2015-11-11 22:53] spodila commented on #59
There would be a performance hit by creating the log strings and invoking logger.debug() even if debug is turned off. Therefore, we pick this approach of defining the flag to turn on additional debug info when creating the task scheduler.

[2015-11-11 23:40] dgrnbrg commented on #59
Depending on the amount of logging, another approach I've seen is to create the log strings inside an if-statement gated by `isXXXEnabled()`, where XXX is Debug, Info, etc.

The reason I bring this up is that it's very convenient having logging entirely managed through the logging framework, when it comes to temporarily enabling different log levels through a standard config file, or even while th

[2015-11-12 16:24] dgrnbrg opened #61 "If a VMLease returns null for its attributes, fenzo silently fails to assign tasks"
It'd be great if the (I assume) NPE was logged or bubbled up somewhere.

[2015-11-12 19:17] spodila commented on #61
There must be something else going on here. Null attributes by themselves don't cause trouble. For example, see null attribute usage in unit test [here](https://github.com/Netflix/Fenzo/blob/master/fenzo-core/src/test/java/com/netflix/fenzo/BasicSchedulerTests.java#L263).
Do you have any constraints defined in this setup?

[2015-11-13 02:40] spodila commented on #58
Javadocs and the wiki pages have been updated to reflect the latest code.

[2015-11-14 00:20] aspyker commented on #59
Fixed via https://github.com/Netflix/Fenzo/pull/64

[2015-11-14 02:16] spodila commented on #59
Awesome, thanks @aspyker

[2015-11-16 17:47] dgrnbrg commented on #59
Yes, thank you!
On Fri, Nov 13, 2015 at 9:16 PM spodila <notifications@github.com> wrote:

[2015-11-16 23:27] spodila commented on #59
0.8.4 has these changes. JavaDocs are updates as well.

[2015-11-17 01:48] spodila commented on #58
Closing out, javadocs are upto date.

[2015-11-17 01:48] #58 closed

[2015-11-17 02:25] dgrnbrg commented on #58
Thanks!
On Mon, Nov 16, 2015 at 8:48 PM spodila <notifications@github.com> wrote:

[2015-11-19 21:09] dgrnbrg commented on #61
I think that the issue is this line: https://github.com/Netflix/Fenzo/blob/master/fenzo-core/src/main/java/com/netflix/fenzo/TaskScheduler.java#L541

Essentially, I expect that Fenzo will report me errors so that I can handle/debug them, but if it's not an expected type of error, then I have to know to check the log.

What do you think about always rethrowing those errors?

[2015-11-24 01:55] spodila commented on #61
Fenzo 0.8.5 now has support for returning exceptions caught during calls to user provided plugins and aborting the scheduler run. See details here: [http://netflix.github.io/Fenzo/fenzo-core/com/netflix/fenzo/TaskScheduler.html#scheduleOnce-java.util.List-java.util.List-](http://netflix.github.io/Fenzo/fenzo-core/com/netflix/fenzo/TaskScheduler.html#scheduleOnce-java.util.List-java.util.List-)

[2015-11-25 16:10] #61 closed

[2015-11-25 16:10] dgrnbrg commented on #61
Thank you!

On Mon, Nov 23, 2015 at 8:55 PM spodila <notifications@github.com> wrote:

[2015-12-09 17:10] DavidMGross commented on #51
Might some of this be good to incorporate into the documentation?

[2015-12-28 13:14] MinosPong opened #70 "com.netflix.fenzo.TaskScheduler do not cleanup ThreadPool created by ExecutorService"
Hi,
I find that my application failed to shutdown gracefully after using TaskScheduler. After code trace, seems the ExecutorService is not shutdown (and has no way to do it). Can we have shutdown call in TaskScheduler to clear up threadpool?

[2015-12-28 18:41] spodila commented on #51
@DavidMGross Incorporating these into the documentation sounds like a good idea. I am not sure yet which section it would go into and how to present this information. I feel like the comments are informal and span the areas of "Fenzo user doc", "best practices with frameworks using Fenzo", "mixing Fenzo frameworks with non-Fenzo frameworks", "known limitations and/or resource starvation with Mesos

[2015-12-28 20:19] spodila commented on #70
This is now available via the new shutdown() method in TaskScheduler in fenzo-core 0.8.5.
See [this](https://github.com/Netflix/Fenzo/blob/master/fenzo-core/src/test/java/com/netflix/fenzo/TestLotsOfTasks.java#L128) for sample usage.

[2015-12-29 04:50] MinosPong commented on #70
Very nice. Thank you for the quick update!!!

[2015-12-29 04:50] #70 closed

[2016-01-28 02:58] spodila commented on #59
Closing this issue since it has been addressed already.

[2016-01-28 02:58] #59 closed

[2016-04-08 15:00] yanglei99 opened #74 "Lease expiration v.s. scale up trigger"
Thanks Fenzo for the separation of concerns to abstract the scheduling logic.  I was able to create a simple framework (using Fenzo) to scale up/down tasks(Docker) and also scale up/down platform (Softlayer) as needed.

One issue I faced is to balance between a shorter offer expiration (to increase platform sharing) and less aggressive scale up trigger (due to offer just expired ).

Finally the so

[2016-04-08 19:58] spodila commented on #74
Nice work. Glad to note Fenzo was useful for your framework.

Did you use the TaskScheduler.Builder.withDelayAutoscaleUpBySecs(secs) to make the scale up less aggressive? We introduced that for very similar reasons. You should not need to introduce the new delay you are referring to after the last offer expiration. The JavaDocs for that builder method has additional explanation on why and what to

[2016-04-15 22:52] spodila commented on #74
@yanglei99 The java docs are now updated. You can see the scale up delay doc [here](http://netflix.github.io/Fenzo/fenzo-core/com/netflix/fenzo/TaskScheduler.Builder.html#withDelayAutoscaleUpBySecs-long-).

Let me know if you need any further info.

[2016-04-19 20:07] yanglei99 commented on #74
@spodila, Thanks! Will follow your suggestions and let you know the result.

[2016-04-28 17:21] DavidMGross opened #78 "Add info to documentation about multiple-framework issues"
See #51 for discussion

[2016-06-13 20:00] EronWright opened #83 "Incorrect handling of multi-disk offers"
Fenzo misunderstands offers that contain numerous disk resources, as can occur when an agent is configured with multiple disks (as described [here](http://mesos.apache.org/documentation/latest/multiple-disk/)).    Fenzo consequently miscalculates the available disk resources.

The `VMLeaseObject` constructor iterates over the offered resources to identify the cpus, mem, and disk.  The last encount

[2016-06-20 22:39] spodila commented on #74
@yanglei99 Do you still need this issue open?

[2016-06-21 16:29] spodila commented on #83
Noted.
The disk specification for the 'root' disk resource you mention is from a later Mesos version (post 0.24.x). Are you able to create a pull request for this change? Or, given an example that we could use to make the change? Or, can you create a unit test that would fail for the current version? Thank you.

Sorry about the delay in getting back to you, I was mostly out on summer travel and co

[2016-06-29 18:09] EronWright opened #85 "Make TaskScheduler.Builder be non-final"
For mocking purposes (w/ Mockito) it would be handy if the builder weren't final.

[2016-06-30 22:21] spodila commented on #85
Our preference for Builder being final is to prevent incompatibilities across newer versions of Fenzo any Builders users create by extending it, Migrating such users to new versions of Fenzo will be painful if we allowed such extensibility. We also see similar pattern used in other places. For example, Protobuf generated Builders are final.
My understanding of this [stackoverflow link](http://stac

[2016-06-30 22:28] spodila commented on #74
@yanglei99 I am going to close this issue since there doesn't seem to be an open question after the last discussion. Do open a new one if you have a follow up. Thank you.

[2016-06-30 22:28] #74 closed

[2016-07-06 02:46] jamiethermo commented on #50
In `com.netflix.fenzo.AssignableVMs#removeLimitedLeases` there is this comment:
`// randomize the list so we don't always reject leases of the same VM before hitting the reject limit`
Don't we want to free up large chunks of contiguous space on a single VM, rather than fragmenting space across lots of machines?

[2016-07-06 04:54] spodila commented on #50
Good observation.
The randomization itself only impacts the list of hosts form which offers are selected to reject. An improvement to address the issue you bring up can either take the form of

- rejecting all offers from a host selected (and therefore the limit on leases to reject effectively becomes the limit on #hosts to reject from), or,
- sorting the offers to reject by highest percentage of

[2016-07-06 22:50] jamiethermo opened #86 "Make AssignableVMs key on slaveId not hostname"
Hostname appears to be informational to Mesos: hostname does not appear in TaskStatus messages or TaskInfo messages. SlaveID does, and for Mesos tasks are assigned by SlaveID, not by hostname. This means that a framework that uses Fenzo must map SlaveIDs to hostnames just so that it can call Fenzo when a task state changes.

[2016-07-06 22:54] jamiethermo opened #87 "Reject Leases on single hosts to avoid fragmentation"
In `com.netflix.fenzo.AssignableVMs#removeLimitedLeases` there is this comment:
`// randomize the list so we don't always reject leases of the same VM before hitting the reject limit`
Don't we want to free up large chunks of contiguous space on a single VM, rather than fragmenting space across lots of machines?
See @spodila comment on #50

[2016-07-08 23:54] spodila commented on #86
The "SlaveID" value is more ephemeral than the "hostname" field. That is, there could be multiple "slaveId" values for the same physical host, for example when the mesos agent times out its pings and then later reconnects with the master. OTOH, a new host could take on the same hostname as one that was decommissioned before. In practice this is less frequent than changes to slaveId of the same hos

[2016-08-13 04:24] q10 opened #88 "TaskRequest should support wait queue expiration"
When a TaskRequest is submitted to a Fenzo scheduler (`scheduler.scheduleOnce()`), it stays in the scheduler's internal queue until a resource offer comes in that fits its requirements.  However, it may be the case that no such offered resource will ever satisfy it, and so we would like for the task to be auto-removed from the internal queue after sitting there for a specified amount of time, inst

[2016-08-13 15:27] spodila commented on #88
Fenzo does not store task requests internally, it only stores the leases (aka, offers). There are already several ways to ensure the leases are expired timely.

Or, are you suggesting that you'd like to have a queuing mechanism in Fenzo?

[2016-08-14 21:09] q10 commented on #88
I have a framework with Fenzo running in a loop on another thread (this is based on the example framework code provided in Fenzo repo).  What I noticed was that when I insert a TaskRequest and resources together in `scheduler.scheduleOnce()`, and the TaskRequest has a resource requirement that does not exist yet in the Mesos cluster, then I get a SchedulingResult where the VmAssignmentResult has n

[2016-08-17 17:23] EronWright commented on #85
The link suggests using PowerMock, which adds complexity (for example, I was unable to use it in a certain scalatest scenario).

My scenario is that a certain class is provided an instance of `TaskScheduler.Builder` in its constructor.  That class sets some of the callbacks (`withLeaseRejectAction`) on the builder, then builds and uses the scheduler.  In the unit test for this class, I'd like to p

[2016-08-20 15:24] spodila commented on #88
I was traveling with limited connectivity, so my response is delayed.

Although Fenzo is battle tested, the sample framework is not, it is provided as an example for how to use Fenzo in a framework. I would not recommend using the sample framework itself for any mission critical applications. Read the [comments provided in the sample](https://github.com/Netflix/Fenzo/blob/master/fenzo-core/src/mai

[2016-08-21 04:00] q10 commented on #88
Ok, I see.  When I call scheduler.scheduleOnce() with a list of tasks, is it possible for me to bias the scheduling so that older-submitted tasks get prioritized first if they can be assigned to resources (i.e. if two task requests are given and score equally well in terms of fitness, but task request A is older than B, then choose A)?  Which FitnessCalculator or ConstraintEvaluator would be good

[2016-08-21 17:04] spodila commented on #88
Sure, Fenzo processes tasks in the order it receives via the List of task requests in the scheduleOnce() call. So, if you order the older tasks ahead in the list, they will be considered for resource assignment ahead of newer tasks.

The fitness calculator is to choose an agent, for a given task, from multiple agents that can fit the task at the moment.

[2016-08-31 19:01] q10 opened #89 "[question] set resources evaluation in Fenzo"
Assume two task requests and a VM lease come in:

VMLease1: { fooset: {foo-a, foo-b} }

TaskRequest1: requires foo-a
TaskRequest2: requires foo-a

Both task requests are entered simultaneously:
taskScheduler.scheduleOnce( [TaskRequest1, TaskRequest2], [VMLease1])

For both tasks, I have overridden getHardConstraints() to include a ConstraintEvaluator that checks whether a VMLease has the set resou

[2016-08-31 23:00] spodila commented on #89
Fenzo supports scalar resources but currently not set resources.
That said, the constraint evaluator is called with list of tasks already running on the host from before as well as any new assignments already performed in the current scheduler run. So, if first task1 was assigned, then when constraintEvaluator is called for task2, it would contain task1 in the callback. ConstraintEvaluator.get Vir

[2016-08-31 23:23] q10 commented on #89
I thought the VirtualMachineCurrentState object inside the ConstraintEvaluator.evaluate() method contained the state of the cluster itself (i.e. stuff that is managed by taskScheduler.getTaskAssigner and taskScheduler.getTaskUnAssigner), but it looks like VirtualMachineCurrentState contains scheduling assignments in the current taskScheduler.scheduleOnce() call?

In any case, the TaskRequest I imp

[2016-09-01 08:24] spodila commented on #89
VirtualMachineCurrentState. getTasksCurrentlyAssigned() gets you tasks that are currently assigned in the current scheduler iteration. Where as, VirtualMachineCurrentState. getRunningTasks() gets you tasks that are already assigned from before (that's what you refer to as the cluster state, managed via taskAssigner and taskUnassigner).

So, you have access to both.

You can mutate TaskRequest, the

[2016-09-01 08:27] q10 commented on #89
Oh, ok; thanks for the info!

[2016-09-02 08:50] q10 commented on #89
I tried to implement a constraint:

evaluate(TaskRequest taskRequest, VirtualMachineCurrentState targetVm, TaskTrackerState taskTrackerState)

and inside the evaluate call, I attempt to lookup all the SetResources in an offer from the VM as follows:

targetVm.getCurrAvailableResources().getOffer()

I create a TaskRequest with this constraint evaluator, and submit this TaskRequest as well as one VM

[2016-09-02 20:28] q10 commented on #89
Line 809 of AssignableVirtualMachine.java:

private VirtualMachineCurrentState vmCurrentState()

returns a VirtualMachineCurrentState to ConstraintEvaluator.evaluate() in line 626 and 843.

However, this VirtualMachineCurrentState is a totally new object with no actual reference to a Protos.Offer.

How do I access the Protos.Offer from inside ConstraintEvaluator.evaluate()?

[2016-09-14 17:41] timcharper opened #90 "Support for persistent volumes"
Are there any plans to support multi-disk resources and persistent volume allocation / creation?

[2016-09-14 22:32] spodila commented on #90
This has been discussed, but, hasn't been prioritized due to lack of immediate use cases within our environment. However, others with immediate use cases are looking at using Fenzo to still perform the constraints based resource assignment along with bin packing, and then perform the multi-step persistent volume handling with Mesos outside of Fenzo.

Are there specific enhancements that would help

[2016-09-14 23:33] timcharper commented on #90
@spodila if there was a way to require that a task resident task be launched on a host with an already created persistentVolume, and the executor would provide the proper reservation command (IE includes the appropriate source information for the persistent volume) that would suffice for now.

[2016-09-14 23:34] timcharper commented on #90
I'll look deeper at the source and see if it's easy to implement myself. You guys have done some fantastic work here so probably much easier to extend than to reimplement.

[2016-09-15 00:53] spodila commented on #90
There is one minor change we can make to Fenzo that will allow you to do that. The VirtualMachineCurrentState object that is passed into ConstraintEvaluator currently does not provide the Mesos Offers represented on the agent. If we add that, then you can add a hard constraint to match the offer only if the created persistent volume exists in the offers.

If that works for you, we can add that cha

[2016-09-15 19:45] timcharper commented on #90
Okay, thank you @spodila for your correspondence. After further thought, I think that there is perhaps more work required than I initially realized. I am wanting to deal exclusively with resident tasks (reserved resources). I think I could probably handle this outside of Fenzo (rather than accepting and launching a task... issue a reservation with a label for some pre-decided taskId, then wait for

[2016-09-15 19:45] #90 closed

[2016-09-16 21:17] spodila commented on #89
If an agent has multiple offers, they are combined for resource assignment purposes. Therefore, the getOffer() implementation for the targetVm's current available resources returns null since there isn't necessarily one offer.

We can, however, enhance this to provide a list of offers on the targetVM, which will help your case.

Let me know if that works for you.

[2016-09-16 21:20] q10 commented on #89
Yes, that works.  Either a list of offers on the targetVM, or a materialized view/offer that is the sum of the current offers available for the targetVM would be good, though I would prefer the latter since it will be easier to work with as a client of Fenzo.

[2016-09-16 21:24] q10 commented on #89
Yes that works.  Either a list of offers or a materialized view/offer that represents all current available resources the targetVM has, not including the ones that have been claimed by earlier taskRequests in the current scheduling assignment run.  I prefer the materialized view, because it is easier to work with as a client of Fenzo.

How soon do you expect this feature to land in?

[2016-09-16 21:38] spodila commented on #89
The materialized view would not be ideal since there may be resources in the offers (such as persistent volumes) that Fenzo doesn't yet directly support and therefore will not be able to accumulate correctly for a materialized view. Making a collection of offers available can be done easily. I can do that early next week if that works.

[2016-09-16 21:41] q10 commented on #89
Sounds good

[2016-09-19 20:15] spodila commented on #85
Our preference hasn't changed, so closing this. Thank you for the input.

[2016-09-19 20:15] #85 closed

[2016-09-19 20:37] spodila commented on #89
Fenzo 0.10.1 is ready for use and makes the Mesos resource offers available to constraint evaluators.

[2016-09-19 22:48] q10 commented on #89
Thanks!  And to be clear, getAllCurrentOffers() does NOT reflect the current status of the offers from previous task assignments in the same scheduling loop right?  For example, if I run scheduleOnce on a list of two tasks, and task1 claims X, then X will still be visible to task2 through getAllCurrentOffers(), right?

[2016-09-19 23:11] spodila commented on #89
Strictly speaking, an individual offer of a host is not claimed by a task. Rather, cumulative resources from multiple offers of a host are assigned to multiple tasks.
So, effectively, your constraint evaluator will see offer X for both invocations - once for task1 and again for task 2.

[2016-10-14 08:53] MinosPong opened #100 "[question] Recover the task assignment after system restart"
Hi,
I am using the UniqueHostAttrConstraint to ensure tasks assigned to different host.
However, after the system restart. The constraint is not working. I believe this is due to the assignment history loss after restart.

So what will be the correct way to presisent the assignment history and recover it after system restart?

[2016-10-14 16:06] spodila commented on #100
Fenzo maintains in memory state which needs to be rebuilt after a system restart. For example, upon system restart we first initialize task states from persistence (outside Fenzo, in our framework) and input the state into Fenzo by calling [TaskScheduler.getTaskAssigner().call(...)](http://netflix.github.io/Fenzo/fenzo-core/com/netflix/fenzo/TaskScheduler.html#getTaskAssigner--) for each task that

[2016-10-17 16:59] gvenka008c opened #101 "Fenzo on Openstack"
@spodila Does Fenzo provides support on Openstack environment? Also how to setup and have it running?

[2016-10-18 18:30] gvenka008c commented on #101
Can anyone provide the details on how to install and start using Fenzo on Openstack? Thanks.

[2016-10-18 19:57] spodila commented on #101
There isn't a direct support for Openstack. However, what do you mean by support?
Fenzo is a Java library that can be used by any Mesos framework. Fenzo itself isn't a process or a service by itself. It enables a service to do advanced scheduling of resources to tasks.

[2016-10-18 20:06] gvenka008c commented on #101
@spodila Thanks. We have mesos/marathon cluster setup on Openstack. Can we use Fenzo for auto scale up/down on Openstack region?

[2016-10-18 21:59] spodila commented on #101
@gvenka008c Fenzo is used in different frameworks that are built for specific purposes, some of them run concurrently with Marathon in the same Mesos cluster. You can get started writing your own framework with Fenzo by looking at [Sample Framework](http://netflix.github.io/Fenzo/fenzo-core/com/netflix/fenzo/samples/SampleFramework.html).

If you are planning to build a framework using Fenzo that

[2016-10-19 16:32] gvenka008c commented on #101
@spodila Thanks. We are not planning to build any framework. Can we use Fenzo integrated with existing framework which is marathon? Currently we use marathon to schedule all our jobs? How does marathon fenzo work together?

[2016-10-19 16:57] spodila commented on #101
Integrating Fenzo with Marathon would imply that Marathon would use Fenzo for task placement. I am not aware of such integration at this time. You will have to ask Marathon to do this. I am glad to help such a discussion. Let me know how I can help.

[2016-10-20 21:46] vditya opened #103 "High availabilty support"
If one builds a framework on top of Fenzo, what are the guidelines to enable high availability of the framework? Specifically assuming zookeeper is being used to provide leadership election between framework instances, how local cache of the Fenzo (for example Tasks queues, running state etc.) can be synchronized to other instances of framework built on Fenzo?

Thanks for your help.

[2016-10-25 05:04] spodila commented on #103
@vditya Since Fenzo is a library used with in the framework, Fenzo would not need an explicit mechanism to enable high availability on its own. I would think the framework would be defining this since it would already need a state persistence store. There are two ways, for example, one could achieve this in the framework.

One, the elected leader is the only one that modifies state in an external

[2016-10-25 05:07] spodila commented on #88
@q10 You may want to look at the recent introduced tasks queues in Fenzo. See details [here](https://github.com/Netflix/Fenzo/wiki/Task-Queues)

[2016-10-25 05:08] spodila commented on #87
@jamiethermo This is now fixed and available in 0.11.7

[2016-10-25 05:08] #87 closed

[2016-10-25 05:08] q10 commented on #88
Thanks

[2016-10-26 23:38] vditya commented on #103
Thanks for your reply. How about accounting of previous offers received from Mesos? I would assume on new leader election you would update that back from same persistent storage, correct? On separate topic, are you following to support Mesos 1.1 taskGroup to introduce Pod concept? Thanks

[2016-10-27 01:44] spodila commented on #103
Upon (re)registration of mesos driver, you should invalidate all previous offers in Fenzo by calling [TaskScheduler.expireAllLeases()](http://netflix.github.io/Fenzo/fenzo-core/com/netflix/fenzo/TaskScheduler.html#expireAllLeases--).

We don't store offers into persistent store. I can't think of a reason to do that. For example, upon restart of your framework process, you would connect to mesos ag

[2016-11-14 23:46] rphull opened #108 "[Question] Recommendation for long running service-style task"
For a framework based on Fenzo, what are the guidelines for scheduling service style tasks?
I am looking for a use case to schedule mix of service and batch jobs. The queueable task input to Fenzo has no distinction for service or batch jobs. This implies that framework should restart the service job when the job finishes/fails. One way is to push the failed/finished service job back in the pendin

[2016-11-16 02:05] spodila commented on #108
Here are some thoughts:

- Use Fenzo's tiered queues to define priority tiers for service versus batch tasks. We actually created two tiers - one for "critical" tasks that need to be launched right away (and most service style tasks fit into this tier), and one for "flex" tasks that have flexible needs for how quickly they need to be launched. Fenzo will assign resources to tasks in critical tier

[2016-11-16 02:07] spodila commented on #103
@vditya do you need any further help on this?

[2016-11-16 02:11] spodila commented on #100
@MinosPong let me know if you need any further assistance on this topic.

[2016-11-16 02:12] spodila commented on #89
I am closing this based on the discussion above. Feel free to open it if needed or open a new issue. Thank you.

[2016-11-16 02:12] #89 closed

[2016-11-16 07:03] vditya commented on #103
@spodila Sorry took long to reply. Thanks for your help, we at Nvidia is now evaluating Fenzo for solving our scheduler need. I am sure we will more questions/feedback and contributions going forward.

[2016-11-16 19:34] spodila commented on #103
@vditya no problem, that sounds great. I am glad to provide any additional information/help and would love to learn your use cases more and to get contributions. If it helps, we can schedule a call.

[2016-11-29 16:26] MinosPong commented on #100
Thank @spodila. Yes, your answer is helpful. I was using a old version of fenzo lib (0.8.2) which do not have ```
void setAssignedResources(AssignedResources assignedResources);
AssignedResources getAssignedResources();
[code]

[2016-11-29 17:42] spodila commented on #100
@MinosPong I am glad that worked for you.
I am curious as to what resources you are using for the AssignedResources in that call. We use that for a custom two level resource to represent assignable virtual network interfaces in EC2 VPC which can have multiple assignable IPs.

[2017-01-11 13:12] zonybob opened #110 "Fenzo does not account for the resources of a custom executor"
I am running tasks with a custom dockerized executor that needs 0.5 cpus.
If (let's say) all my tasks need 0.1 cpus , and Fenzo gets a lease for 1.0 cpu, what normally happens is that "scheduleOnce" tries to pair up ten tasks against that lease... so I schedule those ten.

- Task 1 launches fine, but because it's the first time the executor runs on that agent, there are actually 0.6 CPUs used in t

[2017-01-12 02:17] spodila commented on #110
There isn't a direct way to do this at this time. However, it would be fairly simple to achieve this via a custom hard constraint that you would attach for every task. The hard constraint would be an implementation of the interface [ConstraintEvaluator](http://netflix.github.io/Fenzo/fenzo-core/com/netflix/fenzo/ConstraintEvaluator.html). In the evaluate() method implementation of the interface, y

[2017-01-12 13:29] zonybob commented on #110
The lazy part of me was hoping that there'd be a direct way, but I think the method you presented is still much cleaner than what I was doing.

It was a bit more work that I'd expected... I had to effectively check if
(targetVM.getCurrAvailableResources - sum(resources from targetVM.getTasksCurrentlyAssigned()) - executorInfoResources) < taskRequestResources.

Seems to be working though. Thank you

[2017-02-15 17:57] senior7515 opened #123 "fitness calculators | oring properties"
hi @spodila  just testing out fenzo

Seeing the binpackingfitnescalculators.*  it's effectively

[code]

Wondering if it'd be worth it to make it OR objects... so that one can do

[code]

Interested in a patch?

I guess two things:

1) You can use constraints to do what I want - effectively further filtering of machines to offers
2) Since there are fairly small set of resources on mesos (cpu, mem,

[2017-02-15 23:20] spodila commented on #123
Hello @senior7515 thank you, hope you find it useful.

Could you elaborate on what you mean by the OR operation here?
Fitness functions are expected to return a double value between 0.0 to 1.0. So, does your expression translate to, for example,

[code]

Sounds like I may have misinterpreted your suggestion?

[2017-02-16 14:05] senior7515 commented on #123
ah sorry, I mean to say combiner operation.

Say you have `binpacking.cpu` as well as `binpacking.mem`

you would then be able to say:

[code]

The result, internally would be: ;

[code]

which is exactly what happens right now internally.

[2017-02-16 22:16] spodila commented on #123
OK, this sounds good. Looking forward to your PR.

[2017-03-06 17:12] senior7515 opened #126 "advise on how to loop/tick fenzo"
Generally there are a couple of options:

1) ` new Thread().run() `
2)  with every mesos offer, enqueue and deuque
3)  w/ timers - i.e.: actors - like the flink scheduler, or hierarchical timer wheel - for frequent timers.

When developing a large framework - i.e.: relatively involved, where mesos is a small part - based on what you guys built at netflix, is there anything that works particularly

[2017-03-06 17:15] senior7515 commented on #126
actually premature. you'd run it on the leader election callback as a blocking thread.

[2017-03-06 17:15] #126 closed

[2017-03-07 03:01] spodila commented on #126
Although we have created fenzo@googlegroups.com so far most questions have been discussed via github issues here. Feel free to use either.

In our system, upon leader election, a scheduling service object is activated. In your similar service, you'd interact with Fenzo in one of two possible ways:

1. When using TaskScheduler to interact with Fenzo, you'd maintain a scheduling loop that calls Task

[2017-03-09 18:53] blackgold opened #130 "how to handle remove offers from TaskSchedulingService in response to offerRescinded event from mesos master"

[2017-03-10 01:25] spodila commented on #130
You can do that with [TaskScheduler.expireLease()](http://netflix.github.io/Fenzo/fenzo-core/com/netflix/fenzo/TaskScheduler.html#expireLease-java.lang.String-) method, which takes the offer Id given by Mesos. Also see two other variants: [expireAllLeasesByVMId()](http://netflix.github.io/Fenzo/fenzo-core/com/netflix/fenzo/TaskScheduler.html#expireAllLeasesByVMId-java.lang.String-) which takes the

[2017-03-10 01:35] devendra-nvidia commented on #130
that was it. Thank you

[2017-03-13 14:42] senior7515 opened #131 "contributor agreement."
is the indiv contributor agreement different than corporate contributor agreement.

also, is it as easy as just signing your PR via git -s

is it just the normal apache 2 ..i.e.: https://www.apache.org/licenses/cla-corporate.txt ?

[2017-03-14 22:36] spodila commented on #131
It is the apache 2 license, as referenced in the top comments section in each source file.

[2017-03-15 14:49] senior7515 commented on #131
got ya, i was asked if the copyright is always netflix or the contributing company.

i.e.:

[code]
vs
[code]

If the former, then we have to do sign a rights etc and give it to the project which is why I asked for a CLA - similar to Google's CLA.

if the latter, then we're good. thanks!

[2017-03-15 17:12] senior7515 opened #132 "NamedResourceSetRequest"
Didn't see any docs around this:

[code]

Is it for the mesos agents --attributes ?

[2017-03-15 20:19] spodila commented on #131
It is the former.
Here is an example contributors document from another NetflixOSS project, [Hystrix](https://github.com/Netflix/Hystrix/blob/master/CONTRIBUTING.md)

I can include a similar one for Fenzo soon.
Does that help?

[2017-03-15 20:26] senior7515 commented on #131
Yup. Perfect. Thanks.

[2017-03-15 20:26] #131 closed

[2017-03-15 21:23] senior7515 commented on #132
Amazing work! Thanks for hand holding me! I should have read the docs, I instead downloaded the source code and was playing around w/ the tests. hehe.

[2017-03-15 21:23] #132 closed

[2017-03-23 18:23] senior7515 commented on #131
hi @spodila so aparently we need something like this:

https://cla.developers.google.com/about/google-corporate

we are happy to hand over, but there has to be an official handoff of copyright.

[2017-03-27 19:47] zonybob opened #135 "Resource ranges and "greedy" scheduling"
**UPFRONT DISCLAIMER:**
_Nothing is broken - I am only asking if the Fenzo developer community would have any interest in pursuing or accepting a new feature._

# Problem

I am working on a development effort where our team is adding new capabilities to a Mesos Framework that uses Fenzo. One of our requirements is "greedy" scheduling. Effectively, we work with a lot of scientific algorithms that c

[2017-03-27 21:09] spodila commented on #131
I am checking on this, will get back to you shortly.

[2017-03-28 01:18] spodila commented on #135
These are certainly possible with some changes in Fenzo.

I see why approach 2 may be more optimal for you. Although, one aspect you may be giving up from approach 1 is getting a "more optimal" assignment if you were to wait for sometime before lowering the resource requirements. For example, a task requiring 8 CPUs, but, willing to accept just 4 CPUs might get assigned 4 CPUs right away in approa

[2017-03-28 03:22] zonybob commented on #135
I appreciate the quick feedback. We don't need to pick a solution for a few weeks so there's time to iterate. I mostly was interested up front in your level of interest and whether or not our approaches were way off! We look forward to more discussions.

[2017-04-03 20:04] senior7515 commented on #131
I have an idea, what if there is a folder or smth like that, and I just push a commit w/ the template from apache2 site? kind of weird, but good enough... as a thought. maybe there is a branch called /legal or smth like that.

[2017-04-07 17:35] spodila commented on #131
I am told that your idea seems good for us. Please go ahead and include the template along with your commit.
Thank you.

[2017-04-29 00:21] zonybob opened #146 "Support v1 Protos (or provide utility to convert)"
I started porting our Fenzo-based scheduler over to the Mesos HTTP API using mesos-rxjava.
One issue I ran into is documented in the mesos-rxjava project (https://github.com/mesosphere/mesos-rxjava/issues/74). To summarize, the HTTP API now hands me an `org.apache.mesos.v1.Protos.Offer`, but Fenzo only accepts `org.apache.mesos.Protos.Offer`.
I have a few ideas for how to convert to/from these Off

[2017-04-29 00:44] spodila commented on #146
Conversion may work for the short term, and that might be the easiest way for you to proceed, I think.

An alternative to supporting v1.Protos.Offer (and any future versions) in Fenzo is a thought to abstract the Offer object in Fenzo and then have a set of Provider implementations for them. So, a v0 user would use the v0 provider, you'd use a v1 provider, etc. However, this could potentially brea

[2017-04-29 12:04] zonybob commented on #146
That was the general idea I was hoping for. It seems like most Fenzo interfaces abstract away Mesos-specific concepts and use Fenzo data models. Perhaps only `Protos.Attribute` and `Protos.Offer` exist as hard ties to the Mesos library. It might be nice to see those get abstracted in the future as well, in favor of adapters/providers as you mention. In the meantime, I'm posting the question to the

[2017-05-02 11:07] zonybob commented on #146
FWIW, on Mesos Slack, someone pointed me to this link. The class notes that Mesos uses the same conversion logic internally, so that was good enough for me. It is basically serialize, deserialize... but using the builder.merge.

https://github.com/apache/aurora/blob/c85bffdd6f68312261697eee868d57069adda434/src/main/java/org/apache/aurora/scheduler/mesos/ProtosConversion.java

[2017-05-02 15:58] spodila commented on #146
Nice, thanks for the update.

[2017-05-02 23:39] EronWright opened #147 "Provide TaskAssignmentResult to FitnessGoodEnoughFunction"
I'd like the "good enough" calculation to vary with the urgency of the task.  For example, imagine that a Task should be scheduled within 30 seconds.  When first scheduled, the fitness bar should be held high, then be gradually lowered as the task request gets older; at the 30 second mark, "anything will do".

I suggest that the `FitnessGoodEnoughFunction` accept the `TaskAssignmentResult` to conv

[2017-05-02 23:43] EronWright commented on #147
A possible workaround may be to dynamically adjust the fitness calculation, to 'improve' the fitness as the task grows older or more urgent. It's a hack that I'd rather avoid.

[2017-05-03 04:49] bpiper opened #148 "Allow for custom shortfall evaluators"
Hey there,

Great to see the new OptimizingShortfallEvaluator.  Any chance this class/interface hierarchy could be made public so that we can extend it to implement our own shortfall evaluation strategies?

The use case I have is where we are scheduling only short-lived tasks on a dedicated auto-scaling group (or possibly groups in the future).  If there are tasks that have a lifetime in the order

[2017-05-03 19:23] spodila commented on #147
This thought of making fitness good enough evaluation dynamic existed since the beginning. But, it hasn't manifested itself in the implementation yet. For this to work effectively, I believe there are two pieces needed:

1. Make evaluation of fitness being good enough dynamic based on additional factors, including task level SLAs like start or finish time deadlines, for example.

2. Enhance schedu

[2017-05-03 19:33] spodila commented on #148
Thank you.
The `OptimizingShortfallEvaluator` needs to work in conjunction with `TaskSchedulingService` and as such wouldn't do well implemented outside. However, the shortfall evaluation can provide plugins based extensibility that you could use to achieve your results. For example, if there was a plugin that the evaluator called with the initial list of tasks for which shortfall analysis will be

[2017-05-03 22:17] bpiper commented on #148
I think it would in the sense that we could specify arbitrary pseudo-tasks (e.g. reduce 30 x 10-second tasks to effectively a single long-running pseudo-task) to achieve a desirable (or at least more accurate) scaling result.

Having said that, I still like the simplicity of ShortfallEvaluator's contract... it provides the things that Fenzo knows about (including TaskSchedulingService if one shoul

[2017-05-10 01:18] spodila commented on #148
I can see how this can be customized for your example. And likely other examples as well. My initial thought was more on handling the complexity in the "optimizing shortfall analysis" correctly. That requires tight integration with the scheduling service. However, other strategies for shortfall analysis can be achieved without such an integration with the internal scheduler. Your example analyzer

[2017-05-15 03:36] 215107821 opened #152 "Execution failed for task ':fenzo-core:compileJava'.> 无效的源发行版: 1.8"
11:30:45.916 [ERROR] [org.gradle.BuildExceptionReporter]
11:30:45.917 [ERROR] [org.gradle.BuildExceptionReporter] FAILURE: Build failed with an exception.
11:30:45.918 [ERROR] [org.gradle.BuildExceptionReporter]
11:30:45.918 [ERROR] [org.gradle.BuildExceptionReporter] * What went wrong:
11:30:45.918 [ERROR] [org.gradle.BuildExceptionReporter] Execution failed for task ':fenzo-core:compileJava'.
11

[2017-05-15 15:45] zonybob commented on #135
Just following up to see if you had any more insights on this scheduling approach.
My current thought is that my "Approach 2" is too complex, but that I could implement "Approach 1" fairly easily... just to get the capability available in our scheduler.
Then, maybe down the road a bit, if "Approach 3" were to become available in Fenzo, I would just migrate to that.

Any thoughts?
Am I over-simplif

[2017-05-16 04:06] spodila commented on #152
Fenzo builds for me. Also, the automated builds on this site are passing. Could you elaborate on how you got this error?

[2017-05-17 05:43] bpiper commented on #148
Ideally shortfall evaluation (for us) needs to consider the duration of tasks... so from that perspective one would, for a given set of tasks that could not yet be scheduled, want to pseudo-schedule over a period of time... e.g. if I have some period of time for which scaling up can yield some benefit (which is going to be arbitrarily longer than the time it takes to bring a new slave node into se

[2017-05-17 19:37] spodila commented on #135
Your "Approach 1" sounds reasonable. This may work well for a lot of cases until the scale and complexity of the use case increases.

It is too early to say when/if Approach 3 will be available in Fenzo. This will need to be driven by folks with the most need for it.

Sure. Are you referring to "Approach 3" or a simpler one?

[2017-07-03 22:30] spodila commented on #152
Closing due to no response. Let us know if you still any trouble.

[2017-07-03 22:30] #152 closed

[2017-07-03 22:35] spodila commented on #146
I am thinking that the workaround solves this issue and therefore I'm going to close this. Feel free to reopen this or a new one if needed. Thank you.

[2017-07-03 22:35] #146 closed

[2017-07-03 22:37] spodila commented on #130
The previous response seems to answer your question, so closing this.

[2017-07-03 22:37] #130 closed

[2017-07-03 22:40] spodila commented on #110
Closing this since you confirmed that the suggestions works for you.

[2017-07-03 22:40] #110 closed

[2017-07-03 22:45] spodila commented on #101
Feel free to reopen this or a new issue if you have further questions.

[2017-07-03 22:45] #101 closed

[2017-07-03 22:46] spodila commented on #100
Feel free to reopen this or a new issue if you have more questions.

[2017-07-03 22:46] #100 closed

[2017-07-03 22:47] spodila commented on #88
Feel free to reopen this or a new issue if you need further help.

[2017-07-03 22:47] #88 closed

[2017-08-01 15:35] EronWright opened #156 "Update Mesos dependency"
The library is currently linking against Mesos 0.24.  Consider updating the Mesos system requirements to a more recent version, e.g. 1.0+.   This would help with #83 (which requires a more recent protocol), and with reducing the test scope.

[2017-08-01 15:37] EronWright commented on #83
@spodila have you seen much interest in adding disk support?   Or seen some applications of Fenzo that succeed in that?

[2017-08-21 23:42] spodila commented on #83
@EronWright I've heard of one other user mentioning this would be useful for them. If you are thinking of creating a PR for this, that would be great.

[2017-08-25 23:05] skonto opened #160 "BinPacking with weights"
From a quick glance in this line https://github.com/Netflix/Fenzo/blob/5de0e0861def4a655be35a9624e67318a6c0afac/fenzo-core/src/main/java/com/netflix/fenzo/plugins/BinPackingFitnessCalculators.java#L146
every type of resource is considered equal. For example (0.9 + 0.1 + 0.1 )/3
 ~= 0.36 and fitness being 0.64 . For me such a machine with high cpu utilization may be useless even if I only need one

[2017-08-25 23:46] spodila commented on #160
You are right in that the included bin packing fitness calculator is relatively simple in giving equal weights to the three resources. A different one can be composed with multiple individual calculators using custom weights. A variation of #123 could be constructed to take individual calculators along with associated weights.

In practice, such bin packing is one of the criteria. For example, we

[2017-08-26 00:52] skonto commented on #160
Ok thanx. Multiple criteria I think are more appropriate for certain cases, for example I might want to use the least number of bins while my bins are also full. SpreadingFitnessCalculator uses the BinPack to decide whether to pick a host in order to avoid overloaded hosts while BinPack picks the host which can fill faster. In theory seems those criteria to be contradicting yet there are some resu

[2017-09-06 21:31] EronWright commented on #83
@spodila I am interested in the functionality but don't have time to work on it at this time.

[2017-09-27 17:52] senior7515 commented on #83
In addition for agents that will always have a small / partition (4GB), it means that only attached volumes will serve to host the 'sandbox'

so the issue here is that  you don't actually know where the disk comes from.

ideally the
[code]

would give you a map for this successful result - in fact to all the original mesos.Proto.Offer.Resources  so you can see and track where they come from.

i.e:

[2017-10-10 18:54] senior7515 commented on #83
@spodila

here is an example:

[code]

Thought the ``` LeasesUsed.getDiskMB() => 210338.0```

[2017-10-10 18:56] senior7515 commented on #83
Maybe there is a

[code]

So that you can get a getNamedDisk() and fill in the disk on the mesos protobuf

[2017-11-06 04:24] pradykaushik commented on #147
@EronWright I feel that looking at the current load on the cluster would also be beneficial. One can look at the possible load on the cluster to decide whether one would need to go with the fitness good-enough function or just stick with the regular fitness calculation.
A simple way to determine whether the cluster is loaded or not (assuming you're running a single framework on mesos) would be to

[2017-12-05 01:51] EronWright opened #166 "Incorrect handling of reserved resources"
**Problem Description**
Fenzo misinterprets offers containing a mix of reserved and unreserved resources, causing it to fail to consider all offered resources.   For example, given an offer of 2 reserved CPUs and 3 unreserved CPUs, Fenzo behaves as though the offer contains 2 (or 3) CPUs, not 5 CPUs as it should.

This situation arises when the operator (or another framework in the same role) rese

[2017-12-05 02:01] EronWright commented on #166
Just a comment to framework developers: to effectively use reserved resources, be sure to formulate the resource objects in your `TaskInfo` based on the specific resources contained in the offer.  If you're accepting an offer like shown above, your `TaskInfo` must contain numerous `cpus` resources (e.g.
 [`cpus(myrole):2.0; cpus(*):3.0; ...]`).  See example [here](https://github.com/EronWright/fli

[2017-12-15 21:35] EronWright commented on #83
A possible workaround is to write an alternate implementation of `VMLeaseObject` as mentioned in #166.

[2017-12-17 01:05] senior7515 commented on #166
oh @EronWright  this is a really good idea ! thanks

[2018-01-05 19:31] tbak opened #167 "Unsafe concurrent access to unknown lease collection in AssignableVMs class"
`unknownLeaseIdsToExpire` array is modified directly when invoking `TaskScheduler#expireLease` method. This array is not concurrent, and most likely the intent was to handle it like all the other mutations by the internal thread.

Here is an example stack trace:
`
fenzo.TaskScheduler:? - Error with scheduling run: null
java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.ch

[2018-01-08 17:54] #167 closed

[2018-01-18 06:07] tbak opened #169 "Pluggable ENI fitness evaluator"
# Feature request

Fenzo supports a concept of preferential named consumable resource, which models a collection
of two-level resources. The top level resource is tagged with a name during task placement process,
which defines some sort of its runtime profile. Multiple tasks matching the same profile can be
associated with the same consumable resource, and be allocated portion of its subresources.

[2018-01-18 17:52] corindwyer commented on #169
LGTM

[2018-02-28 06:04] 1309893329 opened #174 "After reading Fenzo, I don't understand how to get Framework information on Mesos?"
After reading Fenzo, I don't understand how to get Framework information on Mesos?

[2018-02-28 06:09] #174 closed

[2018-02-28 06:09] 1309893329 opened #175 "After reading Fenzo, I don't understand how to get Framework information on Mesos?"

[2018-07-19 14:22] captify-akraievoy commented on #43
I would still maybe add a bit of clarification to the front page, because

is misleading, I was trying to find your AWS EC2 autoscaling engine for something like 30 minutes to no avail. Maybe

would be much more precise?

[2019-03-20 11:25] zonybob opened #178 "DisableVM does not remember hosts"
The explanation for TaskScheduler:disableVM indicates that it will remember the "disabled" state if the VM is not yet known by Fenzo.
http://netflix.github.io/Fenzo/fenzo-core/com/netflix/fenzo/TaskScheduler.html#disableVM-java.lang.String-long-

In my testing, I was not observing this to be working. If I disable a VM before offers are received from it, it still comes up in an enabled state.

[2019-03-21 15:08] corindwyer commented on #178
You are correct. The AssignableVM is only disabled if it exists. I will update the javadoc to reflect this. Also, Titus is not using this functionality as we have found it is better to have a hard constraint that disables placement on particular hosts.

[2019-03-21 15:19] zonybob commented on #178
Thanks for the response. We will try to move forward with hard constraints instead.

[2019-04-18 08:04] cclauss opened #179 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"

[2019-04-30 16:03] #179 closed

[2019-04-30 16:04] #178 closed

[2019-05-17 14:04] smithjessk opened #181 "Dynamic ResAllocs"
We want to enforce dynamic task group constraints. E.g., this task group can use no more than 40% of the total # of cores. We can do this with `ResAllocs`, updating the rule when resources are added to the system. Is there a cleaner way to do this? Would it be a difficult feature to implement? If not, I might be interested in trying it.

Thanks.

[2019-07-29 02:46] huichuno opened #182 "CVE-2018-7489 on jackson-databind 2.4.5"
https://nvd.nist.gov/vuln/detail/CVE-2018-7489

FasterXML jackson-databind before 2.7.9.3, 2.8.x before 2.8.11.1 and 2.9.x before 2.9.5 allows unauthenticated remote code execution because of an incomplete fix for the CVE-2017-7525 deserialization flaw. This is exploitable by sending maliciously crafted JSON input to the readValue method of the ObjectMapper, bypassing a blacklist that is ineffecti

[2019-08-02 01:23] huichuno commented on #182
Is it possible to update jackson-databind (https://github.com/FasterXML/jackson-databind) to latest release version which is free from this vulnerability?

[2020-09-21 09:04] QiAnXinCodeSafe opened #189 "Unused variable"
https://github.com/Netflix/Fenzo/blob/8c82038d8021b06711e2dc88157db078638d7524/fenzo-core/src/test/java/com/netflix/fenzo/TestLotsOfTasks.java#L181

This variable is never used.

[2020-09-21 09:06] QiAnXinCodeSafe opened #190 "Unreleased Resource: Streams"
https://github.com/Netflix/Fenzo/blob/8c82038d8021b06711e2dc88157db078638d7524/fenzo-core/src/test/java/com/netflix/fenzo/SampleLargeNumTasksToInit.java#L85

The program can potentially fail to release a system resource.

[2021-08-22 20:08] shreelakshmijoshi commented on #190
Hi @QiAnXinCodeSafe !
I am a new open source contributor and would like to solve this issue, could you help me understand the issue better by providing some extra references ?
Is this is issue open to contribute ?